---
import { SCORE_API_ENDPOINT } from "astro:env/server";

const res = await  fetch(SCORE_API_ENDPOINT)
const scoreValue = await res.text()
---


<span class=" mt-2 text-xs" id="score"> Puntuación: {scoreValue.trim()}/5</span>